@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap');

* {
    padding: 0;
    margin: 0;
    text-decoration: none;
}

.principal {
    background-color: hsl(0, 0%, 12%);
    width: 400px;
    height: 650px;
    border-radius: 15px;
    margin: auto;
    display: grid;    
    position: absolute;
    top: 50%;
    left: 40%;
    right: 60%;
    bottom: 50%;
}

.imagem {
    text-align: center;
    padding: 15px;
    
}
   

.principal h2 {
    color: white;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-weight: 700px;
    text-align: center;
}

.textoverde {
    color: rgb(106, 199, 106);
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-weight: 600px;
    font-size: 14px;
    text-align: center;
    margin: 5px;
}

.textoapp {
    color: rgb(152, 152, 152);
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
    margin-bottom: 5px;
}

.botoes {
    background-color: hsl(0, 0%, 20%);
    margin: 5px 40px;
    text-align: center;
    height: 50px;
    width: 80%;
    border-radius: 10px;
    transition: all .3s ease-in;
}

.textobox {
    color: white;
    font-family: Inter, Arial, Helvetica, sans-serif;
    font-weight: 700px;
    font-size: 14px;
    padding-top: 15px;
    text-decoration: none;
}

.botoes:hover {
    color: hsl(0, 0%, 12%);
    background-color: rgb(106, 199, 106);    
}